<div class="row <%= "scrolling-wrapper flex-row flex-nowrap" if home?%>">
    <% @pokemons.each do |pokemon| %>
        <div class="<%= "col-xl-2" if home? %> col-lg-3">
            <a href="<%= pokemon_show_path(pokemon.id) %>">
                <div class="card pokecard mb-4">
                    <img class="card-img-top" src="<%= pokemon.image %>" alt="<%= pokemon.name %>'s photo">
                    <div class="card-body">
                        <h3 class="card-title pokecard-title"><%= pokemon.name %></h3>
                        <p class="card-text">
                            <span class="badge rounded-pill bg-primary">Base experience: <%= pokemon.base_experience%></span>
                            <span class="badge rounded-pill bg-danger">Height: <%= pokemon.height %></span>
                            <span class="badge rounded-pill bg-warning text-dark">Weight: <%= pokemon.weight %> </span>
                        </p>
                        <a href="<%= pokemon_show_path(pokemon.id) %>" class="btn btn-primary w-100 buy-btn">Buy for BTC <%= pokemon.price %></a>
                    </div>
                </div>
            </a>
        </div>
    <% end %>
</div>