<div class="row">
    <% @pokemons.each do |pokemon| %>
        <div class="col-lg-3">
            <div class="card pokecard mb-4">
                <img class="card-img-top" src="<%= pokemon.image %>" alt="<%= pokemon.name %>'s photo">
                <div class="card-body">
                    <h5 class="card-title"><%= pokemon.name %></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="<%= pokemon_show_path(pokemon.id) %>" class="btn btn-primary">Buy for BTC <%= pokemon.price %></a>
                </div>
            </div>
        </div>
    <% end %>
</div>