<section class="row align-items-center justify-content-center p-4 mb-4" id="header">
    <div class="col-lg-12 text-center p-4">
        <h1>Hello, <%= @user.full_name %></h1>
        <p class="text-white">
            Your current balance is <b>USD <%= @user.balance %></b>.
            <%= link_to "Add +", user_add_path, class: "btn btn-light btn-sm" %>
        </p>
    </div>
</section>

<section class="row" id="userpanel">
    <div class="col-lg-4">
        <h2>Personal data</h2>
        <hr>
        <h4><%= @user.full_name %></h4>
        <p class="text-secondary"><%= @user.email %></p>
        <hr>
        <p><%= @user.pokemons.count %> pokémon and <%= @user.transactions.count %> transactions</p>
        <%= link_to "View transactions", user_transactions_path %>

    </div>

    <div class="col-lg-8">
        <h2>Pokédex</h2>
        <hr>
        <table>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Base XP</th>
                <th>Height</th>
                <th>Weight</th>
                <th>BuyBtn</th>
            </tr>

            <% @user.pokemons.each do |pokemon| %>
                <tr>
                    <td><%= pokemon.name %></td>
                    <td><img src="<%= pokemon.image %>" alt="<%= pokemon.name %>" width="60" height="60"></td>
                    <td><%= pokemon.base_experience %></td>
                    <td><%= pokemon.height %></td>
                    <td><%= pokemon.weight %></td>
                    <td><%= link_to "Sell for #{pokemon.price}", pokemon_show_path(pokemon.id)%></td>
                </tr>
            <% end %>
        </table>
    </div>
</section>